<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>NOTISIONES</h1>

        <ul id="navigation">
            {% for feed in feeds %}
                <p>{{ feed.title }}</p>
                <p>{{ feed.date|date('Y-m-d') }}</p>
                <p>{{ feed.body }}</p>
                <img style="max-width:400px;max-height:400px;" src="{{ feed.image }}" >
                <p><a href="{{ feed.source }}">Ir al Link en {{ feed.publisher }}</a></p>
                <hr>
            {% endfor %}
        </ul>
    </body>
</html>